<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Blogly Recent Posts</h1>

        {% for post in posts %}
        <h2 class="mt-4">
          <a href="/posts/{{ post.id }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.content }}</p>
        <p>
          <small>By {{ post.user.full_name }} on {{ post.friendly_date }}</small>
        </p>
        
        <script src="" async defer></script>
    </body>
</html>